.u-section-1 {
  background-image: url("images/pexels-jessica-lewis-593322.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 527px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 219px;
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-text-1 {
    width: 568px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.875rem;
    margin-top: 198px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 426px;
}

.u-section-2 .u-list-1 {
  margin: -80px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 137px;
  width: 137px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  width: 238px;
  margin: 33px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 137px;
  width: 137px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  width: 238px;
  margin: 33px auto 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 137px;
  width: 137px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  width: 238px;
  margin: 33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    grid-gap: 20px 20px;
  }

  .u-section-2 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
    margin-top: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
    margin-top: 32px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -117px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 228px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -113px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 12px) calc(33.3333% - 12px) calc(33.3333% - 12px);
    grid-gap: 18px 18px;
    min-height: 156px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 6px 10px;
  }

  .u-section-2 .u-icon-1 {
    height: 58px;
    width: 58px;
    margin-top: 34px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 6px 10px;
  }

  .u-section-2 .u-icon-2 {
    height: 58px;
    width: 58px;
    margin-top: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 6px 10px;
  }

  .u-section-2 .u-icon-3 {
    height: 58px;
    width: 58px;
    margin-top: 34px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 4.66667px) calc(33.3333% - 4.66667px) calc(33.3333% - 4.66667px);
    grid-gap: 7px 7px;
    min-height: 128px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 25px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1724px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 130px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px);
  min-height: 1467px;
  grid-gap: 27px 27px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-5 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-image-4 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-7 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-image-5 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-9 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-3 .u-image-6 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-11 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-7 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-3 .u-image-7 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-13 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-8 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-3 .u-image-8 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-15 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-9 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-3 .u-image-9 {
  height: 213px;
  width: 155px;
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-17 {
  background-image: none;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-18 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 1210px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
    min-height: 3089px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 786px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 836px;
  margin-top: 30px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-4 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-5 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-6 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-7 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-8 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .embed-responsive-9 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4 .u-gallery-1 {
    height: 689px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1319px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3561px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2242px;
  }
}